<h1>{{title}}</h1>

<!-- Notice that name of the action is in quotes -->
<button {{action 'sayHello'}}>Say Hello</button>
<button {{action 'toggleBody'}}>About this blog post</button>

{{#if isShowingBody}}
<p>{{body}}</p>
{{/if}}

<h2><strong>Authors:</strong></h2>

<!--Use each block helper-->
<ul>
    {{#each authors as |author|}}
        <li>{{author}}</li>
    {{/each}}
</ul>

<h3>Comments</h3>

<!--
    'comments' is the name of the property (or in this case, array)
    from the controller object. 'comment' is the element
    (or in this case, object) from the 'comments' array
-->

<ul>
{{#each comments as |comment|}}
    <li>{{comment.name}} - {{comment.comment}}</li>
{{/each}}
</ul>

<!-- only fire event when we have a button submitted-->
<form {{action 'submitAction' on='submit'}}>
    <p>
        Name: {{input value=name}}
    </p>
    <p>
        Comment: {{textarea value=comment}}
    </p>
    <button type="submit">Submit</button>
</form>